RewriteEngine On

RewriteRule ^dashboard$ index.php [L]
RewriteRule ^auth/login$ public/client/authLogin.php [L]
##LEVEL : BÍ THƯ/PHÓ BÍ THƯ CHI ĐOÀN##
RewriteRule ^list/students$ public/admin/studentsList.php [L]
RewriteRule ^add/students$ public/admin/studentsAdd.php [L]
RewriteRule ^absent/students$ app/views/students/students-absent.php [L]
##LEVEL : BÍ THƯ LIÊN CHI ĐOÀN##

##LEVEL : ĐOÀN TRƯỜNG##
RewriteRule ^admin/accounts$ public/admin/accountsList.php [L]
RewriteRule ^admin/accounts/add$ public/admin/accountsAdd.php [L]
RewriteRule ^admin/unionbranch$ public/admin/unionBranchList.php [L]
RewriteRule ^admin/unionbranch/add$ public/admin/unionBranchAdd.php [L]

##API XỬ LÝ YÊU CẦU##
RewriteRule ^api/accounts$ app/controllers/admin/add-accounts.php [L]
